@mixin mediaBg() {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	    @content;
    }
}

@mixin tablet () {
    @media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin mobile () {
    @media screen and (max-width: 767px) {
		@content;
	}
}


@mixin background {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

@mixin bg($color) {
	background: linear-gradient(
									47.06deg,
									$color -3.87%,
									rgba(255, 255, 255, 0) 20.89%,
	),
	#fff;
}